{% extends 'base.html.twig' %}

{% block title %}Mes Reservations{% endblock %}

{% block body %}

    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('annonce') }}
    {% endblock %}

    <div>{% include 'barre.html.twig' %}</div>

    <div class="interieur">

        <div id="ennoncer">
            <p>Mes Reservations:</p>
        </div>

        <!--<div class="divlogoqrcode">
            <img class="logoqrcode" alt="Impossible de charger l'image" src={{asset('images/qrcode.png')}}>
        </div>-->
        <table class="table">

            <div class="allbillet">
                {% for place in app.user.placesUser%}
                    {% if place.payer == true %}


                    {% include 'annonce/annonceplace_typePerso.html.twig' %}


                    <div id="boutonmodif">
                        </div>


                        {% endif %}
                {% endfor %}
            </div>
        </table>
    </div>
{% endblock %}
