
body {
    margin: 0;
    background-color: #79c0de;
}
#aile{
    width: 100%;
}

#bleu{
    display: flex;
    background-color: #4875b8;
    width: 27%;
    color: #ffff;
    position: absolute;
    top: 30%;
    border-radius: 0em 10em 10em 0em;
    flex-direction: column;
    align-items: center;
}

#title{
    font-size: 2em;
    padding: 1em;
}

#btn a{
    font-size: 2em;
    color: #4875b8;
}

#btn {
    background-color: white;
    width: 22em;
    padding: 10px;
    border-radius: 2em;
    font-size: 12px;
    margin-bottom: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow: auto;
    resize: horizontal;
}
.card {
    height: 200px;
    background-color: #7effb2;
    border-radius: 8px;
    flex: 1 0 150px;
}

