

body {
    margin: 0;
    background: linear-gradient(45deg, #6495ED, #B0E0E6);
    height: 100vh;

}

#ennoncer{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2em;
}

#timer{
    margin-bottom: 3em;
    margin-top: -1em;
}
.btnsearch{
    background-color: blue;
    color: white;
    padding: 2%;
}

.selectchoix{
    height: 3em;
    background-color: white;
    border: solid;
    border-color: blue;
    font-weight: bold;
}

.reservation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.billet{
    background-color: white;
    border: solid;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 1.7em;
    transition: transform .1s;
    box-shadow: 8px 8px 12px #000;
    flex-wrap: wrap;

}


.interieur{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#selecteur{
    margin-bottom: 3em;
    width: 20em;
}


#datedepart{
    display: flex;
    flex-direction: row;
    border-bottom: solid;
}

#dateretour{
    display: flex;
    flex-direction: row;
}

#datedepartAller{
    color: #0200ff;
    font-size: 1.7em;
    padding: 2px;
    margin: 8px;
}

#datedepartArriver{
    color: #0200ff;
    font-size: 1.7em;
    padding: 2px;
    margin: 8px;
}

#dateretourAller{
    color: #0200ff;
    font-size: 1.7em;
    padding: 2px;
    margin: 8px;
}

#dateretourArriver{
    color: #0200ff;
    font-size: 1.7em;
    padding: 2px;
    margin: 8px;

}

.airport{
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 1.1em;
}

.ville{
    font-family: "Times New Roman", Times, serif;
    margin-right: 2px;

}

.pays{
    font-family: "Times New Roman", Times, serif;
    margin-right: 2px;
}

.divlogoAvion{
    display: flex;
    flex-direction: column;
    margin-left: 3em;
    margin-right: 3em;
}

.logoAvion{
    width: 3em;
    margin-top: 3em;
}

.divlogoqrcode{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logoqrcode{
    margin-right: 1em;
    width: 6em;
    margin-top: 10px;
}

.lieu{
    display: flex;
    margin-left: 3em;
}

#entreprise{
    font-family: "Rockwell", sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin: 16px;
    color: #c70d0d;
}

a{
    color: white;
    text-decoration: none;
}

#boutonmodif{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5%;
    margin-top: 10px;
    justify-content: center;

}
.btn{
    background-color: #0e5dfc;
    border: solid;
    border-color: white;
    border-radius: 30px;
    padding: 33%;
    color: white;


}

.btnannonce{
    background-color: #0e5dfc;
    border: solid;
    border-color: white;
    border-radius: 30px;
    padding: 1%;
}

#btnannonce:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);

}

#create{
    background-color: green !important;
}

.titrebillet{
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: underline;
}

.infos{
    display: flex;
    width: 5em;
    justify-content: center;
    align-items: center;
}

#nombreplaceacheter{}

