body{
    margin: 0;
    background: linear-gradient(45deg, #6495ED, #B0E0E6);
    height: 100vh;

}

h3{

    text-align: center;
}


form {
    max-width: 400px;
    margin-left: 30%;
    margin-top: 5%;
    background: rgba(255, 255, 255, .3);
    padding: 5em;
    border-radius: 20px;
    box-shadow: 20px 20px 40px -6px rgba(0,0,0, .2);
}


label {
    display: block;
    margin-top: 10px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}


input[type="datetime-local"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}

input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}

.btn {
    background-color: #4875B8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
}


.btn:hover {
    background-color: #1E90FF;
}

#annuler {
    color: white;
}
.btn-annuler {
    background-color: #DC143C;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-annuler:hover {
    background-color: #FF0000;
}

/* Style pour le formulaire "delete" */
form[name="delete"] {
    background: rgba(255, 255, 255, .3);
    padding: 10px;
    margin-left: 34%;
    border: 1px solid #ccc;
}

.btn-delete {
    position: relative;
    background-color: #DC143C;
    color: white;
    margin-left: 25%;
    padding: 15px 100px;;
    border: none;
    border-radius: 20px;
    cursor: pointer;

}

.btn-delete i {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
}
