
body{
    margin: 0;
    background: linear-gradient(45deg, #6495ED, #B0E0E6);
    height: 100vh;

}

.divlogoqrcode{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logoqrcode{
    margin-right: 1em;
    width: 6em;
    margin-top: 10px;
}

#formpay{
    background-color: #ddddff;
    padding: 3em;
    border-radius: 15px;
    color: white;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 14em;
    height: 22em;
}
#place{
    background-color: #0e5dfc;
    padding: 1em;
    border-radius: 10px;
}

#place_nb{

}

#payment{
    background-color: #767460ba;
    padding: 1em;
    border-radius: 10px;
}

#buttonval {
    margin-top: 10px;
    background-color: #0e5dfc;
    border: solid;
    border-color: white;
    border-radius: 30px;
    padding: 3%;
    color: white;
}

#titrepay{
    color: black;
    font-size: 30px;
}

#prix{
    color: black;
}

#prixtotal{
    color: black;
    display: flex;
}