{% extends 'base.html.twig' %}

{% block title %}Nouvelle place{% endblock %}

{% block body %}
    <h1>Créer nouvelle place</h1>

    {{ include('place/_form.html.twig') }}

    <a href="{{ path('app_place_index') }}">Retour à la liste</a>
{% endblock %}
