{% extends 'base.html.twig' %}

{% block title %}Modifier entreprise{% endblock %}

{% block body %}
    <h1>Modifier entreprise</h1>

    {{ include('company/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_company_index') }}">Retour</a>

    {{ include('company/_delete_form.html.twig') }}
{% endblock %}
