{% extends 'base.html.twig' %}

{% block title %}Join company{% endblock %}

{% block body %}

    <h1>Rejoindre une entreprise</h1>

         <form method="post">
            <h3>Entrer votre code</h3>
             <input type="text" id="code" name="code" maxlength="8">
                    </form>

{% endblock %}