{% extends 'base.html.twig' %}

{% block title %}Join company{% endblock %}

{% block body %}
    <h1>Rejoindre une entreprise</h1>

    <table>
        <tr>
            <th>Nom de la company</th>
            <th>Action</th>
        </tr>
        {% for company in companies %}
            <tr>
                <td>
                    {{ company.name }}
                </td>
                <td>
                    <form method="post" action="{{ path('app_company_join_by_id', {'id': company.id}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('joinById' ~ company.id) }}">
                        <button class="btn">Rejoindre</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}