{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('country') }}
        {{ encore_entry_link_tags('annonce') }}
    {% endblock %}

    <div>{% include 'barreAdmin.html.twig' %}</div>

<div class="interieur">

    <div id="ennoncer">
        <p>Les reservations de : {{ user.email }}</p>
    </div>


    <table class="table">

        <div class="allbillet">
            {% for place in places%}
                {% if place.payer == true %}


                        {% include 'annonce/annonceplace_typePerso.html.twig' %}

                    <div id="boutonmodif">
                    </div>

                {% endif %}
            {% endfor %}
        </div>

        </tbody>
    </table>
    {% endblock %}