{% extends 'base.html.twig' %}

{% block title %}Modifier aéroport{% endblock %}

{% block body %}
    <h1>Modifier aéroport</h1>

    {{ include('airport/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_airport_index') }}">Retour à la liste</a>

    {{ include('airport/_delete_form.html.twig') }}
{% endblock %}
