{% extends 'base.html.twig' %}

{% block title %}Nouvel aéroport{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('newAirport') }}

{% endblock %}
{% block body %}
    <div>{% include 'barreAdmin.html.twig' %}</div>


    <h1>Créer un nouvel aéroport</h1>

    {{ include('airport/_form.html.twig') }}


{% endblock %}
