{% extends 'base.html.twig' %}

{% block title %}Nouvel aéroport{% endblock %}

{% block body %}
    <h1>Créer un nouvel aéroport</h1>

    {{ include('airport/_form.html.twig') }}

    <a href="{{ path('app_airport_index') }}">Retour à la liste</a>
{% endblock %}
