{% extends 'base.html.twig' %}

{% block title %}Nouvelle ville{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('newAirport') }}

{% endblock %}
{% block body %}
    <div>{% include 'barre.html.twig' %}</div>

    <div id="centre">
    {{ include('city/_form.html.twig') }}

    </div>

{% endblock %}
