{% extends 'base.html.twig' %}

{% block title %}Modifier pays{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    {{ encore_entry_link_tags('newAirport') }}
{% endblock %}

{% block body %}
    <div>{% include 'barreAdmin.html.twig' %}</div>

    {{ include('country/_formUpdate.html.twig', {'button_label': 'Update'}) }}



    {{ include('country/_delete_form.html.twig') }}
{% endblock %}
