{% extends 'base.html.twig' %}

{% block title %}Nouveau pays{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('newAirport') }}
{% endblock %}

{% block body %}
    <div>{% include 'barreAdmin.html.twig' %}</div>


    {{ include('country/_form.html.twig') }}


{% endblock %}
